@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.wrapper {
  position: relative;
  min-height: calc(100vh - 80px);

  display: flex;
  align-items: center;
  justify-content: center;

  background: v.$bg-page;
  overflow: hidden;
}

/* =========================
   TITLE (Texto principal)
========================= */
.title {
  position: relative;
  z-index: 2;

  width: min(79.8125rem, 100%);
  margin: 0;

  color: v.$text-white;
  font-family: var(--font-montserrat);
  font-weight: 400;

  font-size: 7.5rem;
  line-height: 8.75rem;

  text-align: left;

  bottom: 2.375rem;
}

.titleLineCenter {
  display: block;
  text-align: center;
}

.titleLineLeft {
  display: block;
  text-align: left;
}

.bgText {
  position: absolute;
  z-index: 1;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  user-select: none;

  width: min(80.85rem, 100%);
  text-align: left;

  color: v.$text-overlay;

  font-family: var(--font-montserrat);
  font-weight: 900;

  font-size: 21.875rem;
  line-height: 1;
  letter-spacing: 0;
}

/* =========================
   RESPONSIVO (Mobile) - Need to be fixed
========================= */
@media (max-width: 768px) {
  .title {
    font-size: 3.75rem;   
    line-height: 4.375rem;
    width: 100%;
  }

  .bgText {
    font-size: 6.25rem; 
    width: 100%;
    text-align: center;
  }

  .titleLineCenter,
  .titleLineLeft {
    text-align: center;
  }
}
