@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.wrapper {
  position: relative;
  min-height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: center;

  background: $bg-page;
  overflow: hidden;
}

.title {
  position: relative;
  z-index: 2;

  width: min(79.8125rem, 100%);
  margin: 0;

  color: $text-white;
  font-family: var(--font-montserrat);
  font-weight: 400;

  font-size: 7.5rem;
  line-height: 8.75rem;

  text-align: left;

  bottom: 2.375rem;
}

.titleLineCenter {
  display: block;
  text-align: center;
}

.titleLineLeft {
  display: block;
  text-align: left;
}

.bgText {
  position: absolute;
  z-index: 1;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  user-select: none;

  width: min(80.85rem, 100%);
  text-align: left;

  color: $text-overlay;

  font-family: var(--font-montserrat);
  font-weight: 900;

  font-size: 21.875rem;
  line-height: 1;
  letter-spacing: 0;
}

@media (max-width: 26rem) {
  .wrapper {
    display: block;
    min-height: calc(100vh - 5rem);
  }

  .bgText {
    left: 1.3125rem;
    top: 11.375rem;
    transform: none;

    width: 23.125rem;
    height: 7.625rem;

    text-align: left;

    font-size: 6.25rem;
    line-height: 1;
    letter-spacing: 0;

    color: #141313;
  }

  .title {
    position: absolute;
    z-index: 2;

    left: 2.875rem;
    top: 12rem;

    width: 20rem;
    height: 4.625rem;

    bottom: auto;

    font-size: 1.875rem;
    line-height: 1;
    letter-spacing: 0;

    text-align: left;
  }

  .titleLineCenter {
    text-align: center;
  }

  .titleLineLeft {
    text-align: left;
  }
}
