$courses-muted: #8a959b;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 46.75rem; /* 748px */
}

.row {
  width: 46.75rem; /* 748px */
  display: flex;
  align-items: center;
  gap: 1.625rem; /* 26px */

  padding: 1.625rem 0; /* 26px */
  border-bottom: 0.0625rem solid $courses-muted; /* 1px */
}

.courseTitle {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.375rem; /* 22px */
  line-height: 1.875rem; /* 30px */
  letter-spacing: 0;
  color: $courses-muted;
  white-space: nowrap;
}

.tags {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
}

.tag {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem; /* 13px */
  line-height: 0.75rem; /* 12px */
  letter-spacing: 0.07em; /* 7% */
  text-transform: uppercase;
  color: $courses-muted;
  white-space: nowrap;
}
