@use "../../../styles/variables" as *;



.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 46.75rem;
}

.row {
  width: 46.75rem;
  display: flex;
  align-items: center;
  gap: 1.625rem;

  padding: 1.625rem 0;
  border-bottom: 0.0625rem solid $border-muted;
}

.courseTitle {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: 0;
  color: $text-muted;
  white-space: nowrap;
}

.tags {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.tag {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 0.75rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $text-muted;
  white-space: nowrap;
}
