@import "@/styles/variables.scss";

.courses {
  width: 100%;
  background: $bg-page;
  color: $text-white;

  margin-bottom: 18.5rem;
}

.container {
  width: 100%;
  max-width: 84.625rem; /* 1354px */
  margin: 0 auto;
  padding: 0 1.5rem; /* 24px */
}

/* header: esquerda (title/subtitle) + direita (tabs) */
.headerRow {
  width: 100%;
  height: 6.75rem; /* 108px */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0.75rem; /* 12px */
}

.content {
  width: 100%;
  padding-top: 6.5625rem; /* 105px */
}

/* “Tecnologia / Inovação / Negócios” */
.categoryTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 3.4375rem; /* 55px */
  line-height: 100%;
  letter-spacing: 0;
  text-transform: capitalize;
  color: $text-white;
  margin: 0;
  margin-bottom: 5.3125rem; /* 85px */
}
