@use "../../styles/variables" as *;

.courses {
  width: 100%;
  background: $bg-page;
  color: $text-white;
  margin-bottom: 18.5rem;
}

.container {
  width: 100%;
  max-width: 84.625rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.headerRow {
  width: 100%;
  height: 6.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0.75rem;
}

.content {
  width: 100%;
  padding-top: 6.5625rem;
}

.contentAnim {
  will-change: clip-path;
  clip-path: inset(0% 0% 0% 0%);
}

.categoryTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 3.4375rem;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: capitalize;
  color: $text-white;
  margin: 0 0 5.3125rem;
}
