
@use "../../styles/variables" as *;

.water {
  width: 100%;

  margin-top: 8.125rem; // 130px
  margin-bottom: 17.625rem; // 282px

  display: flex;
  justify-content: center;

  background: $bg-page;
}

.container {
  width: 100%;
  max-width: 120rem; // 1920px

  padding: 0 1rem;
}

.image {
  width: 100%;
  height: auto;

  display: block;

  user-select: none;
  pointer-events: none;
}
