@use "../../styles/variables" as *;

.water {
  width: 100%;
  background: $bg-page;

  margin-top: 8.125rem;
  margin-bottom: 17.625rem;
}

.container {
  width: 100%;
  height: 100vh;

  max-width: none;
  padding: 0;

  position: relative;
}

/* image fill do Next */
.image {
  width: 100%;
  height: 100%;
  display: block;

  object-fit: cover;
  object-position: center;

  user-select: none;
  pointer-events: none;
}

@media (max-width: 26rem) {
  .water {
    display: none;
  }
}
