/* FAQ.module.scss */
@use "../../styles/variables" as *;

.faq {
  width: 100%;
  background: $bg-page;
  color: $text-white;

  margin-bottom: 24.125rem;
}

.container {
  width: 100%;
  max-width: 84.625rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  width: 100%;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 5.75rem;
  line-height: 100%;
  letter-spacing: 0;
  color: $text-white;
  margin: 0;
}

.subtitle {
  margin: 1.25rem 0 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 100%;
  letter-spacing: 0;
  color: $accent-primary;
}

.grid {
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 6.25rem;
  row-gap: 5.625rem;
}
