@use "../../styles/variables" as *;

.wrapper {
  position: sticky;
  top: 0;
  z-index: 50;

  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $bg-page;
  transition: background-color 0.3s ease;

  /* pra barra ficar presa no rodapé do navbar */
  position: sticky;
}

/* qualquer scroll > 0 */
.scrolled {
  background-color: $bg-header;
}

/* Barra embaixo */
.progressWrapper {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 3px;

  background: transparent;
  overflow: hidden;
}

.progressBar {
  width: 100%;
  height: 100%;
  background-color: #ed145b;

  transform-origin: left center;
  transform: scaleX(0);
}
