@use "../../styles/variables" as v;

.wrapper {
  position: sticky;
  top: 0;
  z-index: 50;

  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: v.$bg-page;

  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: v.$bg-header;
}
