@use "../../styles/variables" as *;

.wrapper {
  position: sticky;
  top: 0;
  z-index: 50;

  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $bg-page;
  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: $bg-header;
}

.logo {
  width: 9rem;
  height: auto;
  display: block;
}

.progressWrapper {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 0.1875rem;

  background: transparent;
  overflow: hidden;
}

.progressBar {
  width: 100%;
  height: 100%;

  background-color: #ed145b;

  transform-origin: left center;
  transform: scaleX(0);
}


@media (max-width: 26rem) {
  .wrapper {
    height: 5rem;
  }

  .logo {
    width: 5.25rem;
  }
}
