@use "../styles/variables" as *;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: $bg-page; 
  color: #ffffff;

  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;

  line-height: 1.4;
}
