@use "../../../styles/variables" as *;

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  cursor: pointer;
  outline: none;

  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* desktop accessibility */
.item:focus-visible {
  outline: 0.125rem solid rgba(255, 255, 255, 0.25);
  outline-offset: 0.25rem;
}

/* ================= LINE ================= */

.line {
  position: relative;

  width: 23.4285rem; /* desktop */
  height: 0.125rem;

  margin-bottom: 1.25rem;

  /* fechado = só cinza */
  background: #8A959B;
  opacity: 1;

  overflow: hidden;
  transform: translateZ(0);

  transition:
    width 820ms cubic-bezier(0.22, 1, 0.36, 1),
    background-color 360ms ease;
}

/* barra rosa animada */
.line::after {
  content: "";
  position: absolute;
  inset: 0;

  background: $accent-primary;

  transform-origin: left center;
  transform: scaleX(0);

  /* evita vazamento */
  opacity: 0;
  visibility: hidden;

  transition:
    transform 820ms cubic-bezier(0.22, 1, 0.36, 1),
    opacity 120ms ease,
    visibility 0ms linear 120ms;
}

/* ================= TEXT ================= */

.question {
  margin: 0;

  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* fechado */
  color: #8A959B;

  transition: color 360ms ease;
}

.answer {
  margin: 0.75rem 0 0;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0;

  color: $text-white;
  max-width: 26rem;

  overflow: hidden;

  max-height: 0;
  opacity: 0;
  transform: translateY(-0.5rem);

  transition:
    max-height 820ms cubic-bezier(0.22, 1, 0.36, 1),
    opacity 420ms ease,
    transform 620ms cubic-bezier(0.22, 1, 0.36, 1);
}

/* ================= ACTIVE ================= */

.active {
  .line {
    opacity: 1;
  }

  .line::after {
    transform: scaleX(1);

    opacity: 1;
    visibility: visible;

    transition:
      transform 820ms cubic-bezier(0.22, 1, 0.36, 1),
      opacity 120ms ease,
      visibility 0ms;
  }

  .question {
    color: $text-white;
  }

  .answer {
    max-height: 9rem;
    opacity: 1;
    transform: translateY(0);
  }
}

/* ================= MOBILE ================= */

@media (max-width: 26rem) {
  /* remove outline no mobile */
  .item:focus,
  .item:focus-visible {
    outline: none;
  }

  .question {
    font-size: 1.25rem; /* 20px */
    line-height: 1.5rem; /* 24px */
    letter-spacing: -0.01em;
    font-weight: 500;
  }

  /* fechado */
  .line {
    width: 3.7428rem;
    height: 0.125rem;
    background: #8A959B;
    opacity: 1;

    margin-bottom: 1.25rem;
  }

  /* aberto */
  .active {
    .line {
      width: 21.1904rem;
      opacity: 1;
    }
  }
}
