@use "../../../styles/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
}

.header h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 5.75rem;
  line-height: 100%;
  letter-spacing: 0;
  color: $text-white;
  margin: 0;
}

.header p {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 100%;
  letter-spacing: 0;
  color: $accent-primary;
  margin: 0;
}
