$courses-accent: #ed145b;

.header {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem; /* 13px */
}

.header h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 5.75rem; /* 92px */
  line-height: 100%;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}

.header p {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.375rem; /* 22px */
  line-height: 100%;
  letter-spacing: 0;
  color: $courses-accent;
  margin: 0;
}
